* text=auto eol=lf

# Exclude from Composer dist downloads
/.github        export-ignore
/docs           export-ignore
/tests          export-ignore
CHANGELOG.md    export-ignore
CONTRIBUTING.md export-ignore
SECURITY.md     export-ignore
phpstan.neon    export-ignore
